<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kled.pagesaver">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.example.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.gcm.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AnalyticsActivity"
            android:label="@string/title_activity_analytics"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GoalsActivity"
            android:label="@string/title_activity_goals"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddBookActivity"
            android:label="@string/title_activity_add_book"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewCurrentBookActivity"
            android:label="@string/title_activity_view_current_book"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PastBookViewActivity"
            android:label="@string/title_activity_past_book_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditBookActivity"
            android:label="@string/title_activity_edit_book"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MarkCompleteActivity" />
        <activity
            android:name=".ViewGoalActivity"
            android:label="@string/title_activity_view_goal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddGoalActivity"
            android:label="@string/title_activity_add_goal"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>